@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
@import url("./styles/cartao.css");

:root{
    --cor-de-fundo: #EBECEE;
    --laranja: #EB9B00
}

body{
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

