.cartao {
    background: white;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

.cartao__bloco {
    display: flex;
    justify-content: space-between;
}

.cartao__titulo {
    color: #EB9B00;
    font-weight: 700;
    font-size: 16px;
    
}

.cartao__titulo-livro {
    font-size: 18px;
    font-weight: 700;
    color: #002F52;
    margin: .5em 0;
}

.cartao__foto {
    width: 100%;
}

.cartao__botoes,
.botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em 0 0 0 ;
}

.cartao__botao {
    background: #EB9B00;
    color: white;
    text-decoration: none;
    padding: 1em 2.2em;
}